name: Emscripten Build

on:
  push:
    branches:
      - 'master'
    tags-ignore:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          path: emscripten-glfw

      - name: Checkout emscripten
        uses: actions/checkout@v4
        with:
          repository: emscripten-core/emsdk
          path: emscripten

      - name: Install Emscripten
        working-directory: ${{github.workspace}}/emscripten
        run: |
          ./emsdk install latest
          ./emsdk activate latest
          source ./emsdk_env.sh
          emcc -v

      - name: Setup prerequisites for CMake
        run: sudo apt-get install build-essential

      - name: Configure CMake Project
        working-directory: ${{github.workspace}}/emscripten-glfw
        run: |
          source ${{github.workspace}}/emscripten/emsdk_env.sh
          emcmake cmake -B build -DCMAKE_BUILD_TYPE=Release .

      - name: Compile all
        working-directory: ${{github.workspace}}/emscripten-glfw/build
        run: cmake --build . --target examples-all

      - name: Result
        working-directory: ${{github.workspace}}/emscripten-glfw/build
        run: ls -l examples/example_minimal

      - name: Configure CMake Project (small)
        working-directory: ${{github.workspace}}/emscripten-glfw
        run: |
          source ${{github.workspace}}/emscripten/emsdk_env.sh
          emcmake cmake -B build-small -DCMAKE_BUILD_TYPE=Release -DEMSCRIPTEN_GLFW3_DISABLE_JOYSTICK=ON -DEMSCRIPTEN_GLFW3_DISABLE_MULTI_WINDOW_SUPPORT=ON .

      - name: Compile all (small)
        working-directory: ${{github.workspace}}/emscripten-glfw/build-small
        run: cmake --build . --target examples-all

      - name: Result (small)
        working-directory: ${{github.workspace}}/emscripten-glfw/build-small
        run: ls -l examples/example_minimal

      - name: Compile with port
        working-directory: ${{github.workspace}}/emscripten-glfw
        run: |
          source ${{github.workspace}}/emscripten/emsdk_env.sh
          mkdir build-with-port
          emcc --version
          emcc --use-port=contrib.glfw3 examples/example_minimal/main.cpp -O2 -o build-with-port/index.html
          ls -l build-with-port

      - name: Compile with port (small)
        working-directory: ${{github.workspace}}/emscripten-glfw
        run: |
          source ${{github.workspace}}/emscripten/emsdk_env.sh
          mkdir build-with-port-small
          emcc --version
          emcc --use-port=contrib.glfw3:disableWarning=true:disableMultiWindow=true:disableJoystick=true examples/example_minimal/main.cpp -O2 -o build-with-port-small/index.html
          ls -l build-with-port-small
